<div class="col-sm-6 col-sm-offset-3">
  <h3>Week 1</h3>     
  <div class="list-group">
    <a href="/#/lessons/web-page-basics" class="list-group-item ">Web Page Basics</a>
    <a href="/#/lessons/git-basics" class="list-group-item">Git Basics</a>
  </div> 
</div>
