<div class="col-sm-6 col-sm-offset-3">
  <h3>Week 1 - Coming Soon!</h3>   
  <div class="list-group">
    <a href="/#/lessons/web-page-basics" class="list-group-item">Web Page Basics <strong>Day 1</strong></a>
    <a href="/#/lessons/git-basics" class="list-group-item">Git Basics <strong>Day 1</strong></a>
    <a href="/#/lessons/portfolio-1" class="list-group-item">Portfolio Part I (Project) <strong>Day 1</strong></a>
  </div>  
</div>
