<div class="col-sm-6 col-sm-offset-3">
  <h3>Week 1</h3>     
  <div class="list-group">
    <a href="/#/lessons/web-page-basics" class="list-group-item">Web Page Basics <strong>Day 1</strong></a>
    <a href="/#/lessons/git-basics" class="list-group-item">Git Basics <strong>Day 1</strong></a>
    <a href="/#/lessons/day-1-quiz" class="list-group-item">Quiz <strong>Day 1</strong></a>
    <a href="/#/lessons/portfolio-1" class="list-group-item">Portfolio Part I (Project) <strong>Day 1</strong></a>
    <a href="/#/lessons/html-1" class="list-group-item">HTML Refresher <strong>Day 1</strong></a>
    <a href="/#/lessons/css-1" class="list-group-item">CSS Refresher <strong>Day 1</strong></a>
  </div>

  <div class="list-group">
    <a href="/#/lessons/running-js" class="list-group-item">Running Javascript <strong>Day 2</strong></a>
    <a href="/#/lessons/dev-tools" class="list-group-item">Chrome Developer Tools <strong>Day 2</strong></a>
    <a href="/#/lessons/intro-to-js" class="list-group-item">Intro to Javascript <strong>Day 2</strong></a>
    <a href="/#/lessons/javascript-2" class="list-group-item">Javascript Part 2 <strong>Day 2</strong></a>
    <a href="/#/lessons/secret-tel-aviv" class="list-group-item">Secret Tel Aviv <strong>Day 2</strong></a>
    <a href="/#/lessons/portfolio-2" class="list-group-item">Portfolio Part II <strong>Day 2</strong></a>
  </div>

  <div class="list-group">
    <a href="/#/lessons/javascript-functions" class="list-group-item">Javascript Functions <strong>Day 3</strong></a>
    <a href="/#/lessons/css-floats" class="list-group-item">CSS Floats and Display <strong>Day 3</strong></a>
    <a href="/#/lessons/portfolio-3" class="list-group-item">Portfolio Part III <strong>Day 3</strong></a>
  </div> 

  <div class="list-group">
    <a href="/#/lessons/css-layout" class="list-group-item">Responive Layout and Media Queries <strong>Day 4</strong></a>
    <a href="/#/lessons/portfolio-4" class="list-group-item">Portfolio Part IV <strong>Day 4</strong></a>
  </div> 

  <div class="list-group">
    <a href="/#/lessons/intro-to-objects" class="list-group-item">Javascript Objects <strong>Day 5</strong></a>
    <a href="/#/lessons/this" class="list-group-item">Javascript Keyword: this <strong>Day 5</strong></a>
    <a href="/#/lessons/html-css-project" class="list-group-item">Web Page Project <strong>Day 5</strong></a>
  </div> 

  <hr>

  <h3>Week 2</h3>
  <div class="list-group">
    <a href="/#/lessons/javascript-review" class="list-group-item">Javascript Review  <strong>Day 6</strong></a>
    <a href="/#/lessons/intro-to-dom" class="list-group-item">DOM Intro  <strong>Day 6</strong></a>
    <a href="/#/lessons/css-frameworks-1" class="list-group-item">CSS Frameworks <strong>Day 6</strong></a>
  </div>

  <div class="list-group">
    <a href="/#/lessons/" class="list-group-item">The DOM Part II  <strong>Day 7</strong></a>
    <a href="/#/lessons/intro-to-bootstrap" class="list-group-item">CSS Bootstrap <strong>Day 7</strong></a>
  </div>

  <div class="list-group">
    <a href="/#/lessons/javascript-scope" class="list-group-item">Javascript Scope <strong>Day 8</strong></a>
    <a href="/#/lessons/" class="list-group-item">CSS with SASS <strong>Day 8</strong></a>
  </div>

  <div class="list-group">
    <a href="/#/lessons/javascript-closures" class="list-group-item">Javascript Closures <strong>Day 9</strong></a>
    <a href="/#/lessons/javascript-closures" class="list-group-item">Modules with the DOM <strong>Day 9</strong></a>
  </div>
</div>
