<div class="col-sm-8 col-sm-offset-2 lesson">
  <div class="page-header">
    <h2>Coding Bootcamp Prework</h2>
    <a href="/#/">Back Home</a>
  </div>

  <div class="topic">
    <h3>Read</h3>
    <p><a href="https://medium.com/@cecilycarver/things-i-wish-someone-had-told-me-when-i-was-learning-how-to-code-565fc9dcb329#.wrmtv8tin" target="_blank">Things I Wish Someone Had Told Me When I Was Learning How to Code</a></p>
  </div>

  <div class="topic">
    <h3>Learn basic Web and Javascript</h3>
    <p><a href="https://www.codecademy.com/en/learn/web" target="_blank">1. Codecademy HTML & CSS course</a></p>
    <p><a href="https://www.codecademy.com/en/learn/javascript" target="_blank">2. Codecademy JavaScript course</a></p>
    <p><a href="https://www.codecademy.com/en/learn/jquery" target="_blank">3. Codecademy jQuery course</a></p>
    <p><a href="https://www.codeschool.com/courses/try-jquery" target="_blank">4. Codeschool Try jQuery course</a></p>
    <p><a href="https://www.codecademy.com/en/learn/learn-angularjs" target="_blank">5. Codecademy Angular course </a></p>
    <p><a href="https://www.codeschool.com/courses/shaping-up-with-angular-js" target="_blank">6. Codeschool shaping up with Angular.js</a></p>
  </div>

  <hr>

  <div class="topic">
    <h3>Learn basic Environment and Github</h3>
    <p><a href="http://mac.appstorm.net/how-to/utilities-how-to/how-to-use-terminal-the-basics/" target="_blank">Terminal Basic (Mac Users)</a></p>
    <p><a href="http://cli.learncodethehardway.org/book/" target="_blank">Command Line Crash Course (Mac Users)</a></p>
    <p><a href="http://tom.preston-werner.com/2009/05/19/the-git-parable.html" target="_blank">Read the Git Parable</a></p>
    <p><a href="https://try.github.io/levels/1/challenges/1" target="_blank">Try Git by Codeschool</a></p>

  </div>

</div>