<div class="col-sm-8 col-sm-offset-2 lesson">
  <div class="page-header">
    <h2>Diagram Guide</h2>
    <a href="/#/">Back Home</a>
  </div>

  <div class="topic">
    <h4>Intro</h4>
    <p>Drawing diagrams is a great way to break down our code into digestible chunks and to think the way our Javascript interpreter things. Follow these steps when drawing diagrams:</p>

    <ol>
      <li>Draw all the "Left Hand Side" variable declarations in the global scope.</li>
      <li>Draw all the "Right Hand Side" variable values in the global scope.</li>
      <li>Then move to execution... If there's a function invocation, write it.</li>
      <li>Move into the next executed scope.</li>
      <li>Again draw all the "Left Hand Side" variable declarations.</li>
      <li>Again draw all the "Right Hand Side" variable values.</li>
      <li>Keep going for and repeating for each scope.</li>
    </ol>
  </div>

  <hr>

  <div class="topic">
    <h4>Variable Diagrams</h4>
  <hr>

  </div>
</div>
