<div class="col-sm-8 col-sm-offset-2 lesson">
  <div class="page-header">
    <h2>The DOM Part II</h2>
    <a href="/#/">Back Home</a>
  </div>

  notes:
  - document.ready
  - listeners
  - triggers
  - callbacks


  <div class="topic">
    <h3>Intro</h3>
    <p>In this lesson we will go over:</p>

    <ul>
      <li></li>
    </ul>

    <p>Partner up for this one! There will be several exercises along the way, but all you'll need is a pen/paper and somewhere to write Javascript.</p>
  </div>

  <hr>

  <div class="topic">
    <h4>Done.</h4>
    <p>Awesome! What a baller you are.</p>
  </div>
</div>

