<div class="col-sm-8 col-sm-offset-2 lesson">
  <div class="page-header">
    <h2>CSS Floats, Display and Fluid Width</h2>
    <a href="/#/">Back Home</a>
  </div>

  Notes: Have them start a NEW project at their github page (amhayslip.github.io), wire-frame it and build it! Show them how to do the github thing

  <div class="topic">
    <h3>Lesson Overview</h3>
      <p></p>
      <ul>
        <li></li>
      </ul>
  </div>


  <hr>
    <h4>Done.</h4>
    <p>When you're finished with these three exercises, call the instructor over.</p>
  </div>
</div>
