<div class="col-sm-8 col-sm-offset-2 lesson">
  <div class="page-header">
    <h2>Forms </h2>
    <a href="/#/">Back Home</a>
  </div>

  <div class="topic">
    <h3>Let's Collect data</h3>
    <p>OK, we have HTML but now we want to collect data from the user.</p>
    <p>In this lesson we learn how to build a basic form to collect data from users.</p>
  </div>

  <hr>

  <div class="topic">
    <h3>Lesson Overview</h3>
    <p>In this section we will:</p>

    <ul>
      <li>Learn about form element.</li>
      <li>Introduce input elements.</li>
      <li>Write our first form.</li>
    </ul>
  </div>

  <div class="topic">
    <h3>The Form Element </h3>
    <p>The Form element is used to group inputs in a page as one form. Page can contain one or more forms.</p>
    <pre style="background:#000;color:#f8f8f8"><span style="color:#89bdff">&lt;<span style="color:#89bdff">form</span>>
</span><span style="color:#89bdff">&lt;<span style="color:#89bdff">/form</span>></span>
    </pre>
  </div>

  <div class="topic">
    <h3>The Input Element </h3>
    <p>The input elements family enables us to get the user input while applying some rules on it. </p>
    <p>The rule is determined using the attribute type of the input element.</p>
    <p>Some types for example are: text, password, number, submit etc.</p>

    <p>you can find all the list <a href='https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input'>here</a></p>
    <p>For example the code below will generate a login screen:</p>
    <pre style="background:#000;color:#f8f8f8"><span style="color:#89bdff">&lt;<span style="color:#89bdff">form</span>></span>
      UserName: <span style="color:#e0c589">&lt;<span style="color:#e0c589">input</span> <span style="color:#e0c589">type</span>=<span style="color:#65b042">'text'</span> /></span> <span style="color:#e0c589">&lt;<span style="color:#e0c589">br</span>></span>
      Password: <span style="color:#e0c589">&lt;<span style="color:#e0c589">input</span> <span style="color:#e0c589">type</span>=<span style="color:#65b042">'password'</span> /></span> <span style="color:#e0c589">&lt;<span style="color:#e0c589">br</span>></span>
      <span style="color:#e0c589">&lt;<span style="color:#e0c589">button</span> <span style="color:#e0c589">type</span>=<span style="color:#65b042">"submit"</span>></span>Login<span style="color:#e0c589">&lt;/<span style="color:#e0c589">button</span>></span>
<span style="color:#89bdff">&lt;/<span style="color:#89bdff">form</span>></span>
    </pre>
    <p> Result: </p>
    <div style="border-style:solid;  border-radius: 4px;">
      <form>
        UserName: <input type='text' /> <br>
        Password: <input type='password' /> <br>
        <button type="submit">Login</button>
      </form>
    </div>
  </div>



  <div class="topic">
    <h4>Setup</h4>
    <p>Create a new folder called <strong>BookKeeper</strong> and inside of it create an <strong>index.html</strong> file and a <strong>style.css</strong> file. Add your boilerplate HTML and link your CSS file. Do this from the command line.</p>
    <p>Then, set up a Github Repo with the same name and do an initial commit. Again, refer to previous lessons if you and your partner are unsure of how to do this. Any time you see this icon:</p>
    <i class="fa fa-github commit"></i>
    <p>...do a git commit.</p>
  </div>

  <div class="topic">
    <h3>Exercise 1</h3>
    <p>Let's Create Login screen and refer it from our index.html</p>
    <p>Steps:</p>
    <ol>
      <li>Create a new file named login.html .</li>
      <li>Add your boilerplate HTML and link your CSS file (same CSS) to the new file we just created .</li>
      <li>Add a link from the index.html to the new login.html and name it "Login". Hint: Add an "a" element with href referring the index.html .</li>
      <li>Add the login form snippet to the login.html file .</li>

    </ol>
    <i class="fa fa-github commit"></i>
  </div>


  <div class="topic">
    <h3>Exercise 3</h3>
    <p>Let's add a checkbox - "Remember me" to our login form </p>    
    <div class="exercise">
      <% var num= '5-1'; %>
      <div class="answer" ng-class="{'show': questions[<%= num %>]}">
        <pre style="background:#000;color:#f8f8f8"><span style="color:#89bdff">&lt;<span style="color:#89bdff">form</span>></span>
          UserName: <span style="color:#e0c589">&lt;<span style="color:#e0c589">input</span> <span style="color:#e0c589">type</span>=<span style="color:#65b042">'text'</span> /></span> <span style="color:#e0c589">&lt;<span style="color:#e0c589">br</span>></span>
          Password: <span style="color:#e0c589">&lt;<span style="color:#e0c589">input</span> <span style="color:#e0c589">type</span>=<span style="color:#65b042">'password'</span> /></span> <span style="color:#e0c589">&lt;<span style="color:#e0c589">br</span>></span>
          <span style="color:#e0c589">&lt;<span style="color:#e0c589">input</span> <span style="color:#e0c589">type</span>=<span style="color:#65b042">'checkbox'</span>/></span> Remember me <span style="color:#e0c589">&lt;<span style="color:#e0c589">br</span>></span>
<span style="color:#89bdff">&lt;/<span style="color:#89bdff">form</span>></span>
        </pre>

        <p> Result: </p>
        <div style="border-style:solid; border-radius: 4px;">
          <form>
            UserName: <input type='text' /> <br>
            Password: <input type='password' /> <br>
            <input type='checkbox'/> Remember me <br>
          </form>
        </div>
        <i class="fa fa-github commit"></i>

      </div>
      <% include ../partials/answer-button %>
    </div>

  </div>


  <div class="topic">
    <h3>Exercise 2</h3>
    <p>Now, Let's create our sign-up form</p>
    <p>The form should include the following inputs: </p>
    <ul>
      <li>First name</li>
      <li>Last name</li>
      <li>Middle name</li>
      <li>Username</li>
      <li>Email</li>
      <li>Password</li>
      <li>Repeat Password</li>
      <li>Telephone</li>
      <li>Street Address</li>
      <li>City</li>
      <li>ZIP Code</li>
      <li>State (free text for now)</li>
      <li>Country (free text for now)</li>
      <li>Submit</li>
    </ul>



    <p>Something like this:</p>
    <p> Result: </p>
    <div style="border-style:solid; border-radius: 4px;">
      <form>
        First Name: <input type='text' /> <br>
        Middle Name: <input type='text' /> <br>
        Last Name: <input type='text' /> <br>
        User Name: <input type='text' /> <br>
        Password: <input type='password' /> <br>
        ...
      </form>
    </div>
    <p>Steps:</p>
    <ol>
      <li>Create a new sign-up.html file and link it from index.html (like in ex. 1) </li>
      <li>Add form section to this page and add the required inputs requested.</li>
    </ol>
    <i class="fa fa-github commit"></i>






    <div class="topic">
      <h4>Done.</h4>
      <p>By the now you should have an app with three pages - index,login,sign-up. the pages for now are dummies and we are going to add more functionality later on. </p>
    </div>
  </div>

