<div class="col-sm-8 col-sm-offset-2 lesson">
  <div class="page-header">
    <h2>Intro to Git and Github</h2>
    <a href="/#/">Back Home</a>
  </div>

  <div class="topic">
    
  </div>

  <hr>


  <hr>

  <div class="topic">
    <h4>Done.</h4>
    <p>Awesome! You'll be using these things every day of your life as a developer, so as you're learning them, remember to refer back to this lesson. We will cover git more in depth as we progress.</p>
  </div>
</div>
