<div class="col-sm-8 col-sm-offset-2 lesson">
  <div class="page-header">
    <h2>Week 1 HTML/CSS Project</h2>
    <a href="/#/">Back Home</a>
  </div>

  <div class="topic">
    <h4>Intro</h4>
    <p>Today we're going to put it all together! By now, you've crafted a hefty portfolio project. Today, we're goint to put an extra amount of work into it and deploy live for the world to see! You have some freedom today - if you want to continue working with what you've been making this week, great! If you want to start your portfolio over (and chalk your projects up as practice), you're free to do that as well.</p>

    <p>Here are the requirements of today's project. It needs to be completed by Sunday.</p>
    <ul>
      <li>You must have a least 3 pages (or sections). You may link them with anchor tags (a one-pager) or make 3 separate pages.</li>
      <li>One of your pages (or sections) must be a "projects" section that (will eventually) link examples of your work to github. You can title it whatever you like.</li>
      <li>Your entire page must be responsive and mobile friendly.</li>
      <li>It needs to be live and viewable by anyone! We'll go over that now.</li>
    </ul>
  </div>

  <hr>

  <div class="topic">
    <h4>Github Pages</h4>
    <p>Github gives us this great ability to host a webpage of our straight from a repo. The steps to do this are <a href="https://pages.github.com/">listed here</a>. You should be able to follow them to learn how to commit your project, but don't hesitate to ask if you need help. Note that if you're going to be using the code you've already written, you will need to copy it over into this new repo.</p>

    <p>That's it! Happy coding! Send Aaron your github url when it's ready!</p>
  </div>
</div>