<div class="col-sm-8 col-sm-offset-2 lesson">
  <div class="page-header">
    <h2>CSS Bootstrap</h2>
    <a href="/#/">Back Home</a>
  </div>

  notes:
  - downloading bootstrap
  - bootstrap docs
  - nav
  - grid system
  - pretty stuff

  <div class="topic">
    <h3>Lesson Overview</h3>
      <p>In this lesson we will cover</p>
      <ul>
        <li></li>
      </ul>
  </div>

  <hr>

  <div class="topic">
    <h3>Intro</h3>
      <p>Let's learn bootstrap by building something cool. We will build this one-page site:</p>
      <a href="http://www.elevationacademy.co/wp-content/uploads/2016/03/Screen-Shot-2016-03-09-at-4.24.26-PM.png" target="_blank"><img src="http://www.elevationacademy.co/wp-content/uploads/2016/03/Screen-Shot-2016-03-09-at-4.24.26-PM.png"></a>

      <a href="http://www.elevationacademy.co/wp-content/uploads/2016/03/Screen-Shot-2016-03-09-at-4.26.07-PM.png" target="_blank">
      <img src="http://www.elevationacademy.co/wp-content/uploads/2016/03/Screen-Shot-2016-03-09-at-4.26.07-PM.png"></a>
  </div>

  <hr>

  <div class="topic">
    <h3>Setup</h3>
      <p>Start by pairing up, picking a driver, navigator and all that jazz. Create a new project called <strong>start-bootstrap</strong> and create a github repo with the same name.</p>

      <p>Create an <c>index.html</c> file and a <c>style.css</c> file. Add your boilder plate HTML, connect your CSS file and do an initial commit. Let's do this thing.</p>
  </div>

  <div class="topic">
    <h4>Download It! Or not!</h4>
      <p>Start by pairing up, picking a driver, navigator and all that jazz. Create a new project called <strong>start-bootstrap</strong> and create a github repo with the same name.</p>

      <p>Create an <c>index.html</c> file and a <c>style.css</c> file. Add your boilder plate HTML, connect your CSS file and do an initial commit. Let's do this thing.</p>
  </div>


  <hr>
  
    <h4>Done.</h4>
    <p>Great. Feel free to continue adding to your framework! Don't forget to add it as a project on your portfolio site.</p>

</div>
