<div class="col-sm-8 col-sm-offset-2 lesson">
  <div class="page-header">
    <h2>Javascript Basics Part 2</h2>
    <a href="/#/">Back Home</a>
  </div>

  <div class="topic">
    <h3>Lesson Overview</h3>
      <p>Depending on how well you absorbed the prework, this may be review to you. In this section we will:</p>
      <ul>
        <li>Look at the difference between "truthy" and "falsy" values.</li>
        <li>Dive deeper into conditionals.</li>
        <li>Write loops to help us with repetative code.</li>
        <li>Learn the array data structure.</li>
      </ul>
      <p>With that, go ahead and partner up. For this first part, just use one computer and work through the lesson together.</p>
  </div>



  <hr>
    <h4>Done.</h4>
    <p>When you're finished with these three exercises, call the instructor over.</p>
  </div>
</div>



