<div class="col-sm-8 col-sm-offset-2 lesson">
  <div class="page-header">
    <h2>Javascript Review</h2>
    <a href="/#/">Back Home</a>
  </div>

  notes:
  - draw simple diagrams (variables)
  - draw function diagrams
  - write functions with conditionals
  - write functions with for loops and arrays 
  - draw object diagrams
  - draw object diagrams with functions and methods
  - fix syntax errors for objects with functions and methods
  - write objects with functions and methods

  "The DOM is a fully object-oriented representation of the web page, and it can be modified with a scripting language such as JavaScript"


  <div class="topic">
    <h3>Intro</h3>
    <p>In this lesson we will go over:</p>

    <ul>
      <li></li>
    </ul>

    <p>Partner up for this one! There will be several exercises along the way, but all you'll need is a pen/paper and somewhere to write Javascript.</p>
  </div>

  <hr>

  <div class="topic">
    <h4>Done.</h4>
    <p>Awesome! What a baller you are.</p>
  </div>
</div>
