<div class="col-sm-8 col-sm-offset-2 lesson">
  <div class="page-header">
    <h2></h2>
    <a href="/#/">Back Home</a>
  </div>

  <div class="topic">
    <h3>Optional Projects</h3>
    <p>These projects are not required, but are suggest</p>
  </div>

  <hr>

  <div class="topic">
    <h4>Week 1</h4>
    <p class="def"><strong>1. Javascript Tennis Project</strong></p>
    <p>For this challenge, you will be using everything you know in Javascript to create a tennis game. For simplicity sake, we’ll assume that we’re only scoring a single game of tennis – no sets or matches. The rules of tennis are interesting and are as follows:</p>

    <p>1. Each player can have either of these points in one game: 0, 15, 30, 40</p>

    <p>2. If you have 40 and you win the ball you win the game, however there are special rules.</p>

    <p>3. If both have 40, the players are “deuce” and:</p>
    <ul>
      <li>a. If the game is in deuce, the winner of a ball will have “advantage” and game ball (they will win if they score again).</li>
      <li>b. If the player with “advantage” wins the ball, he wins the game</li>
      <li>c. If the player without “advantage” wins they are back at “deuce”.</li>
    </ul>

    <p>To complete this challenge, <a href="https://github.com/amhayslip/tennis-challenge" target="_blank">download this folder</a>. Open the <c>specRunner.html</c> file in your browser. You will see a bunch of failing tests. To make these pass, write code inside your <c>main.js</c> file. You will notice 18 failing tests inside of exerciseSpec.js. Write your code so that all 18 of the tests pass.</p>

    <hr>

    <p class="def"><strong>2. To Do List</strong></p>
    <p>Create a page that has an input field and a submit button. Allow users to enter a to-do inside the input field and add it to the page when they click the button. You may use jQuery for this or the vanilla DOM api.</p>

    <p>As a challenge, add a checkbox to check to-do's as done or not.</p>
  </div>


  <hr>
</div>