<div class="col-sm-8 col-sm-offset-2 lesson">
  <div class="page-header">
    <h2>Portfolio Part 2</h2>
    <a href="/#/">Back Home</a>
  </div>

  <div class="topic">
    <h4>Intro</h4>
    <p>Once again we'll continue working our portfolio site. Go ahead and cd into your <strong>personal-site</strong> repo and open it in sublime.</p>
  </div>

  <hr>

  <div class="topic">
    <h4>Step 1: Write the HTML for our Nav</h4>
    <p>You may have already done it, but go ahead and build your navigation with HTML. Don't worry about building the other pages quite yet.</p>
  </div>

  <hr>

  <div class="topic">
    <h4>Step 2: Style the Nav</h4>
    <p>Align your navigation horizontially and fix it to the top.</p>
  </div>

  <hr>

  <div class="topic">
    <h4>Step 3: Build a Section with HTML</h4>
    <p>Below your nav, add a section. This could be where you put a cool large "hero" section or perhaps an "about me" section for a few works about yourself. You decide and add the content you wish.</p>
  </div>

  <hr>

  <div class="topic">
    <h4>Step 4: Background Image</h4>
    <p>Add and style at least one image somewhere! Try and make it looks snazzy. Creative freedom here.</p>
  </div>

  <hr>

  <div class="topic">
    <h4>Step 5: Custom Fonts</h4>
    <p>Add and style at least one custom font to your page. Search google fonts to find something interesting.</p>
  </div>

  <hr>

  <div class="topic">
    <h4>Commit!</h4>
    <p>Don't forget to regularlly commit your work. Please send Aaron the url of your github repo today (via slack) when you are finished with these steps.</p>
  </div>

</div>