<div class="col-sm-8 col-sm-offset-2 lesson">
  <div class="page-header">
    <h2>Portfolio Part 1</h2>
    <a href="/#/">Back Home</a>
  </div>

  <div class="topic">
    <h3>Intro</h3>
    <p>Let's put what we've learned to work. Throughout this week we'll work on building our own personal portfolio websites. At the end of the week, we'll launch it live for the world to see! Follow the steps below to complete the first part of our project. Try not to cheat. If you need help, first refer back to today's lessons. If that doesn't work, ask someone around you. If that doesn't work, ask an instructor.</p>
  </div>

  <div class="topic">
    <h3>Step 1: Creating our Project</h3>
    <p>The first thing we need is our project folder and files. Create a new folder and call it "personal-site" inside wherever you're storing your code. Inside of your "personal-site" folder, create two files: <strong>index.html</strong> and <strong>style.css</strong>. Do this all using the command-line.</p>
  </div>

  <div class="topic">
    <h3>Step 2: Git Init</h3>
    <p>Now that we have our (empty) files, let's go ahead and initialize a local git repository using <strong>git init</strong>. Then go ahead and add your files and do an initial commit.</p>
  </div>

  <div class="topic">
    <h3>Step 3: Github Repo</h3>
    <p>Head to github.com and create a new repo titled, "personal-site". Then, add it from the command-line and push it!</p>
  </div>

  <div class="topic">
    <h3>Step 4: HTML Boilerplate</h3>
    <p>Go ahead and add your necessary HTML boilerpate and link your <strong>style.css</strong> file. Add some CSS to <strong>style.css</strong> to make sure you did it correctly. Refer back to today's lessons for the HTML boilerplate. After you've done that, do another commit!</p>
  </div>

  <div class="topic">
    <h3>Step 5: Creative Freedom</h3>
    <p>Feel free to practice your previous HTML and CSS skillz by adding HTML and CSS code to this project. Be sure to commit any changes you make! <strong>When you're finished, please make sure everything is on github and email Aaron the URL.</strong></p>
  </div>


</div>