<div class="col-sm-8 col-sm-offset-2 lesson">
  <div class="page-header">
    <h2>Portfolio Part 4</h2>
    <a href="/#/">Back Home</a>
  </div>

  <div class="topic">
    <h4>Intro</h4>
    <p>Once again we'll continue working our portfolio site. Go ahead and cd into your <strong>personal-site</strong> repo and open it in sublime.</p>
  </div>

  <hr>

  <div class="topic">
    <h4>Step 1: Add an Additional Section</h4>
    <p>Add another section below the previous section you created. This could be a section for your blog, for contacting you, your interested or anyhting else you can dream up.</p>
  </div>

  <hr>

  <div class="topic">
    <h4>Step 2: Design Your Layout</h4>
    <p>Before you start writing code, get some pen and paper out. Create a rought sketch of what you want to build for this section. What is your layout? Where does text go? Images?</p>
  </div>

  <hr>

  <div class="topic">
    <h4>Step 3: Make it Happen!</h4>
    <p>Now that you know what you want to build, write the necessary HTML and CSS. Keep our clearfix principles in mind if you're using floats.</p>
  </div>

  <hr>

  <div class="topic">
    <h4>Step 4: Responsive</h4>
    <p>Add any media queries you might need to make it look good at different screen sizes.</p>
  </div>

  <hr>

  <div class="topic">
    <h4>Commit!</h4>
    <p>Don't forget to regularlly commit your work. Please send Aaron the url of your github repo today (via slack) when you are finished with these steps.</p>
  </div>

</div>