<div class="col-sm-8 col-sm-offset-2 lesson">
  <div class="page-header">
    <h2>CSS with Secret Tel Aviv</h2>
    <a href="/#/">Back Home</a>
  </div>

  Notes: Finish the nav and hero image only

  <div class="topic">
    <h3>Lesson Overview</h3>
      <p>We're going to continue building our "Secret Tel Aviv" site by styling it up and in the process going over:</p>
      <ul>
        <li>Positioning</li>
        <li>The CSS Box Model</li>
      </ul>
      <p>With that, go ahead and partner up. Again, just use one computer and work through the lesson together. Driver, cd into your <strong>secret-tel-aviv</strong> folder and open the project in sublime. So you remember, this is what we'll be building (or styling.. believe it or not, we already have all the HTML we'll need for our landing page):</p>

      <a href="http://www.elevationacademy.co/wp-content/uploads/2016/02/Screen-Shot-2016-02-27-at-8.27.54-PM.png" target="_blank"><img src="http://www.elevationacademy.co/wp-content/uploads/2016/02/Screen-Shot-2016-02-27-at-8.27.54-PM.png"></a>
  </div>

  <hr>

  <div class="setup">
    <h4>Set Up</h4>
    <p>To start, let's make sure we're on the same page. Your <strong>index.html</strong> file should look like this:</p>

    <pre style="background:#000;color:#f8f8f8"><span style="color:#89bdff">&lt;!<span style="color:#89bdff"><span style="color:#89bdff">DOCTYPE</span> html</span>></span>
<span style="color:#89bdff">&lt;<span style="color:#89bdff">html</span>></span>
<span style="color:#89bdff">&lt;<span style="color:#89bdff">head</span>></span>
  <span style="color:#e0c589">&lt;<span style="color:#e0c589">link</span> <span style="color:#e0c589">rel</span>=<span style="color:#65b042">"stylesheet"</span> <span style="color:#e0c589">type</span>=<span style="color:#65b042">"text/css"</span> <span style="color:#e0c589">href</span>=<span style="color:#65b042">"style.css"</span>></span>
  <span style="color:#e0c589">&lt;<span style="color:#e0c589">title</span>></span>Secret Tel Aviv<span style="color:#e0c589">&lt;/<span style="color:#e0c589">title</span>></span>
<span style="color:#89bdff">&lt;/<span style="color:#89bdff">head</span>></span>
<span style="color:#89bdff">&lt;<span style="color:#89bdff">body</span>></span>

  <span style="color:#89bdff">&lt;<span style="color:#89bdff">nav</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">ul</span>></span>
      <span style="color:#e0c589">&lt;<span style="color:#e0c589">li</span>></span><span style="color:#e0c589">&lt;<span style="color:#e0c589">a</span> <span style="color:#e0c589">href</span>=<span style="color:#65b042">"#food"</span>></span>Food<span style="color:#e0c589">&lt;/<span style="color:#e0c589">a</span>></span><span style="color:#e0c589">&lt;/<span style="color:#e0c589">li</span>></span>
      <span style="color:#e0c589">&lt;<span style="color:#e0c589">li</span>></span><span style="color:#e0c589">&lt;<span style="color:#e0c589">a</span> <span style="color:#e0c589">href</span>=<span style="color:#65b042">"#night-life"</span>></span>Night Life<span style="color:#e0c589">&lt;/<span style="color:#e0c589">a</span>></span><span style="color:#e0c589">&lt;/<span style="color:#e0c589">li</span>></span>
      <span style="color:#e0c589">&lt;<span style="color:#e0c589">li</span>></span><span style="color:#e0c589">&lt;<span style="color:#e0c589">a</span> <span style="color:#e0c589">href</span>=<span style="color:#65b042">"#jobs"</span>></span>Jobs<span style="color:#e0c589">&lt;/<span style="color:#e0c589">a</span>></span><span style="color:#e0c589">&lt;/<span style="color:#e0c589">li</span>></span>
      <span style="color:#e0c589">&lt;<span style="color:#e0c589">li</span>></span><span style="color:#e0c589">&lt;<span style="color:#e0c589">a</span> <span style="color:#e0c589">href</span>=<span style="color:#65b042">"#apartments"</span>></span>Apartments<span style="color:#e0c589">&lt;/<span style="color:#e0c589">a</span>></span><span style="color:#e0c589">&lt;/<span style="color:#e0c589">li</span>></span>
    <span style="color:#89bdff">&lt;/<span style="color:#89bdff">ul</span>></span>
  <span style="color:#89bdff">&lt;/<span style="color:#89bdff">nav</span>></span>

  <span style="color:#89bdff">&lt;<span style="color:#89bdff">section</span> <span style="color:#89bdff">class</span>=<span style="color:#65b042">"hero"</span>></span>
    <span style="color:#e0c589">&lt;<span style="color:#e0c589">img</span> <span style="color:#e0c589">class</span>=<span style="color:#65b042">"hero-image"</span> <span style="color:#e0c589">src</span>=<span style="color:#65b042">"http://www.elevationacademy.co/wp-content/uploads/2016/02/logo_after_effect.png"</span>></span>
  <span style="color:#89bdff">&lt;/<span style="color:#89bdff">section</span>></span>
<span style="color:#89bdff">&lt;/<span style="color:#89bdff">body</span>></span>
<span style="color:#89bdff">&lt;/<span style="color:#89bdff">html</span>></span>
</pre>
  
  <p>And your CSS file (as of now) should simply be this:</p>
  <pre style="background:#000;color:#f8f8f8"><span style="color:#cda869">body</span> {
  <span style="color:#c5af75">margin</span>: <span style="color:#dd7b3b">0</span>;
  <span style="color:#c5af75">background-color</span>: <span style="color:#dd7b3b">#ddd</span>;
}
</pre>
  </div>

  <hr>

  <div class="topic">
    <h4>Styling the Nav</h4>
    <p>The first thing we tackle will be the <strong>nav</strong>. Notice that it's fixed to the top and horizontal. Add the following CSS:</p>

    <pre style="background:#000;color:#f8f8f8"><span style="color:#cda869">nav</span> <span style="color:#cda869">li</span> {
  <span style="color:#c5af75">display</span>: <span style="color:#f9ee98">inline-block</span>;
}
</pre>
</pre>

    <p>We'll go over <strong>display</strong> more in depth later, but we're basically we're telling our list-items to not take up the width of their parent, thus causing them to sit horiontally.</p>

    <p>Now let's give our <strong>nav</strong> a background color. Add the following CSS:</p>

    <pre style="background:#000;color:#f8f8f8"><span style="color:#cda869">nav</span> {
  <span style="color:#c5af75">background-color</span>: <span style="color:#dd7b3b">#333333</span>;
}
</pre>

    <p>Lastly, to make it a little prettier, add the following:</p>

    <pre style="background:#000;color:#f8f8f8"><span style="color:#cda869">nav</span> <span style="color:#cda869">li</span> <span style="color:#cda869">a</span> { 
  <span style="color:#c5af75">line-height</span>: <span style="color:#dd7b3b">50<span style="color:#e28964">px</span></span>;
  <span style="color:#c5af75">text-decoration</span>: <span style="color:#f9ee98">none</span>;
  <span style="color:#c5af75">color</span>: <span style="color:#dd7b3b">#999</span>;
  <span style="color:#c5af75">font-family</span>: <span style="color:#65b042">sans-serif</span>;
  <span style="color:#c5af75">font-size</span>: <span style="color:#dd7b3b">11<span style="color:#e28964">px</span></span>;
  <span style="color:#c5af75">text-transform</span>: <span style="color:#f9ee98">uppercase</span>;
  <span style="color:#c5af75">font-weight</span>: <span style="color:#f9ee98">bold</span>;
  <span style="color:#c5af75">padding</span>: <span style="color:#dd7b3b">0</span> <span style="color:#dd7b3b">18<span style="color:#e28964">px</span></span>;
}
</pre>
  </div>

  <hr>

  <div class="topic">
    <h4>Positioning</h4>
    <p>If we go to the actual <a href="https://www.secrettelaviv.com/" target="_blank">Secret Tel Aviv</a> website, we'll notice that the navbar stays fixed to the top as we scroll. For that, we need to use <strong>position: fixed</strong>. Before we go over that though, let's look at the different options we have for positioing in CSS:</p>

    <h5>Absolute and Relative</h5>
    <p>Absolute positioning is tricky. The rule to remember is, <em>absolute positioned elements are position <strong>absolute</strong> in relation to their parent relative element</em>. Say what!? <a href="http://codepen.io/amhayslip/pen/ONJaJJ" target="_blank">Click here</a> for an example.</p>

    <p>We have the small green box the position of "absolute" and the large red box the position of relative. Thefore, the "absolute" positioned element (the green box) only obeys the red box (the relative positioned parent. We have it a "right: 0;" property, which puts it "0 away from the right side" of the red box.</p>

    <p>Now, remove the "position: relative" property from the ".large-box" and add it to the ".medium-box". What happened? Now the green box obeys the blue box.</p>

    <h5>Fixed</h5>
    <p>A "fixed" element works just like an absolutely positioned one, execept it's "relative parent" is the viewport. In other words, a fixed element stays fixed on screen no matter how much scrolling or whatever happens.</p>

    <p>Look at <a href="http://codepen.io/amhayslip/pen/aNbQOG" target="_blank">this example</a> here to see it in action. Notice how the red bar stays in it's place as your scroll.</p>

    <p>Okay, at last, let's position our nav to the top by adding the following CSS:</p>
    <pre style="background:#000;color:#f8f8f8"><span style="color:#cda869">nav</span> {
  <span style="color:#c5af75">background-color</span>: <span style="color:#dd7b3b">#333333</span>;
  <span style="color:#c5af75">position</span>: <span style="color:#f9ee98">fixed</span>;
  <span style="color:#c5af75">width</span>: <span style="color:#dd7b3b">100<span style="color:#e28964">%</span></span>;
  <span style="color:#c5af75">top</span>: <span style="color:#dd7b3b">0</span>;
}
</pre>
    
    <p>Also, let's center it and remove some unwanted margin:</p>
    <pre style="background:#000;color:#f8f8f8"><span style="color:#cda869">nav</span> <span style="color:#cda869">ul</span> {
  <span style="color:#c5af75">margin</span>: <span style="color:#dd7b3b">0</span>;
  <span style="color:#c5af75">text-align</span>: <span style="color:#f9ee98">center</span>;
}
</pre>
    
    <h5>Adding Fonts</h5>
    <p>Before we leave our precious nav, we need to get the font right. If we use our handly Chrome Developer Tools, we can see that the actual Secret Tel Aviv site is using a font called 'Open Sans' for their menu. This isn't available to us by defualt, so we have to go find it somewhere.</p>

    <p>After doing a quick google search we notice that google web fonts has it! <a href="https://www.google.com/fonts" target="=_blank">Go here</a> and search for "Open Sans". When you find it, click "Add to Collection". Then at the bottom, click "use".</p>

    <img src="http://www.elevationacademy.co/wp-content/uploads/2016/02/Screen-Shot-2016-02-28-at-8.20.45-PM.png">

    <p>Scroll down to number 3 and copy/paste the "link" tag (under the Standard tab) into the head of your HTML file above where you've included your CSS file.</p>

    <img src="http://www.elevationacademy.co/wp-content/uploads/2016/02/Screen-Shot-2016-02-29-at-11.16.30-AM.png">

    <p>The head of your <strong>index.html</strong> should look like this:</p>
    <pre style="background:#000;color:#f8f8f8"><span style="color:#89bdff">&lt;<span style="color:#89bdff">head</span>></span>
  <span style="color:#e0c589">&lt;<span style="color:#e0c589">link</span> <span style="color:#e0c589">href</span>=<span style="color:#65b042">'https://fonts.googleapis.com/css?family=Open+Sans'</span> <span style="color:#e0c589">rel</span>=<span style="color:#65b042">'stylesheet'</span> <span style="color:#e0c589">type</span>=<span style="color:#65b042">'text/css'</span>></span>
  <span style="color:#e0c589">&lt;<span style="color:#e0c589">link</span> <span style="color:#e0c589">rel</span>=<span style="color:#65b042">"stylesheet"</span> <span style="color:#e0c589">type</span>=<span style="color:#65b042">"text/css"</span> <span style="color:#e0c589">href</span>=<span style="color:#65b042">"style.css"</span>></span>
  <span style="color:#e0c589">&lt;<span style="color:#e0c589">title</span>></span>Secret Tel Aviv<span style="color:#e0c589">&lt;/<span style="color:#e0c589">title</span>></span>
<span style="color:#89bdff">&lt;/<span style="color:#89bdff">head</span>></span>
</pre>
  </div>

  <hr>

  <div class="topic">
    <h4>CSS Box Model</h4>
    <p>At this point, your website should look like this:</p>
    <img src="http://www.elevationacademy.co/wp-content/uploads/2016/02/Screen-Shot-2016-02-29-at-11.19.19-AM.png">

    <p>We'll fix that, but let's first go over an important concept that we'll need to know before we dive in. The CSS Box Model.</p>

    <p>The “CSS Box Model” represents the way an element takes up space on the page. Namely, we’re referring to an element’s width/height, border, padding and margin properties. These things can dramatically the layout of a page and it’s important to know how it works.</p>

    <p><a href="http://codepen.io/amhayslip/pen/oxNKaY" target="_blank">Click here</a> to open an example we'll work with.</p>

    <p>Hover over the red box and, hold down "control", click and select "Inspect" (right click if you're using a windows machine). This will allow you to inspect the HTML and CSS of our webpage. If you look at the bottom of the "styles" tab, you'll notice a series of concentric boxes.</p>

    <img src="http://www.elevationacademy.co/wp-content/uploads/2016/02/Screen-Shot-2016-02-29-at-11.28.09-AM.png">

    <p>This is the box-model. It shows us that the width/height of the actual element is 200px, yet an extra 20px is added because of the padding and another 10 is added because of the border. Lastly, the margin doesn't actually add dimension to our element itself, but the space between it and other elements.</p>
  </div>

  <hr>

  <div class="topic">
    <h4>Hero Section</h4>
    <p>Now let's get this think looking right! First let's make our image smaller. Add the following CSS:</p>
    <pre style="background:#000;color:#f8f8f8"><span style="color:#9b703f">.hero-image</span> {
  <span style="color:#c5af75">width</span>: <span style="color:#dd7b3b">100<span style="color:#e28964">%</span></span>;
  <span style="color:#c5af75">max-width</span>: <span style="color:#dd7b3b">500<span style="color:#e28964">px</span></span>;
}
</pre>

    <p>This will ensure that our image is flexible (using percentage) but will not get too big (max-width). Now we just need to center it. Do you know how to center an image?<p>

    <div class="exercise">
      <% var num= '4-1'; %>
      <div class="answer" ng-class="{'show': questions[<%= num %>]}">
        <pre style="background:#000;color:#f8f8f8"><span style="color:#9b703f">.hero-image</span> {
  <span style="color:#c5af75">width</span>: <span style="color:#dd7b3b">100<span style="color:#e28964">%</span></span>;
  <span style="color:#c5af75">max-width</span>: <span style="color:#dd7b3b">500<span style="color:#e28964">px</span></span>;
  <span style="color:#c5af75">display</span>: <span style="color:#f9ee98">block</span>;
  <span style="color:#c5af75">margin</span>: <span style="color:#dd7b3b">0</span> <span style="color:#f9ee98">auto</span>;
}
</pre>
      </div>

      <% include ../partials/answer-button %>
    </div>

    <h5>Background Image</h5>
    <p>Before we add space above our image (to get it in the center of the screen), let's add our cool background image. For that we'll use the CSS Background Image property. Let's add it to our ".hero" section like this:</p>

    <pre style="background:#000;color:#f8f8f8"><span style="color:#9b703f">.hero</span> {
  <span style="color:#c5af75">background</span>: <span style="color:#dad085">url</span>(<span style="color:#3e87e3">http://www.elevationacademy.co/wp-content/uploads/2016/02/Tel-Aviv.jpg</span>) <span style="color:#f9ee98">no-repeat</span> <span style="color:#f9ee98">center</span> <span style="color:#f9ee98">fixed</span>;
  <span style="color:#c5af75">background</span>-<span style="color:#c5af75">size</span>: cover;
}
</pre>

    <p>A background-image can have a "background-repeat", "background-attachement" and "background-position" properties. We defined all of those, but with shorthand. In other words, we didn't want our image to repeat, we want it centered and fixed. In additon, we used "background-size: cover" to be sure that the entire image is displayed.</p>

    <p>In addition, we need to give our ".hero" section more height to look good. Let's give it a height of 700px:</p>

    <pre style="background:#000;color:#f8f8f8"><span style="color:#9b703f">.hero</span> {
  <span style="color:#c5af75">background</span>: <span style="color:#dad085">url</span>(<span style="color:#3e87e3">http://www.elevationacademy.co/wp-content/uploads/2016/02/Tel-Aviv.jpg</span>) <span style="color:#f9ee98">no-repeat</span> <span style="color:#f9ee98">center</span> <span style="color:#f9ee98">fixed</span>;
  <span style="color:#c5af75">background</span>-<span style="color:#c5af75">size</span>: cover;
  <span style="color:#c5af75">height</span>: <span style="color:#dd7b3b">700<span style="color:#e28964">px</span></span>;
}
</pre>

    <h5>Title Spacing</h5>
    <p>Now on your own, add some space to the top of our "Secret Tel Aviv" title/image/logo. Should you use margin? Padding? Work through it and discuss with your partner.</p>
  </div>



  <hr>
    <h4>Done.</h4>
    <p>When you're finished with this, get started on the next part of our <a href="/#/lessons/portfolio-2">portfolio project</a>!</p>
  </div>
</div>



