<div class="col-sm-8 col-sm-offset-2 lesson">
  <div class="page-header">
    <h2>Style Guide</h2>
    <a href="/#/">Back Home</a>
  </div>

  <div class="topic">
    <h4>Declaring Variables</h4>

    <p class="def">Good</p>
    <pre style="background:#000;color:#f8f8f8"><span style="color:#99cf50">var</span> name <span style="color:#e28964">=</span> <span style="color:#65b042">"Bob"</span>;</pre>

    <p class="def">Bad</p>
    <pre style="background:#000;color:#f8f8f8"><span style="color:#99cf50">var</span> name<span style="color:#e28964">=</span><span style="color:#65b042">"Bob"</span></pre>
  </div>

  <hr>

  <div class="topic">
    <h4>Conditional Statments</h4>

    <p class="def">Good</p>
    <pre style="background:#000;color:#f8f8f8"><span style="color:#e28964">if</span> (<span style="color:#3387cc">4</span> <span style="color:#e28964">===</span> <span style="color:#3387cc">4</span>) {
  <span style="text-decoration:underline">console</span><span style="color:#dad085">.log</span>(<span style="color:#65b042">"true!"</span>);
} <span style="color:#e28964">else</span> {
  <span style="text-decoration:underline">console</span><span style="color:#dad085">.log</span>(<span style="color:#65b042">"nope!"</span>);
}
</pre>

    <p class="def">Bad</p>
    <pre style="background:#000;color:#f8f8f8"><span style="color:#e28964">if</span> (<span style="color:#3387cc">4</span> <span style="color:#e28964">===</span> <span style="color:#3387cc">4</span>){
  <span style="text-decoration:underline">console</span><span style="color:#dad085">.log</span>(<span style="color:#65b042">"true!"</span>);
} 
<span style="color:#e28964">else</span> {
  <span style="text-decoration:underline">console</span><span style="color:#dad085">.log</span>(<span style="color:#65b042">"nope!"</span>)
}
</pre>
  </div>

  <hr>

  <div class="topic">
    <h4>Functions</h4>

    <p class="def">Good</p>
    <pre style="background:#000;color:#f8f8f8"><span style="color:#99cf50">var</span> <span style="color:#89bdff">greet</span> <span style="color:#e28964">=</span> <span style="color:#99cf50">function</span> () {
  <span style="text-decoration:underline">console</span><span style="color:#dad085">.log</span>(<span style="color:#65b042">'hello!'</span>);
}

<span style="color:#99cf50">function</span> <span style="color:#89bdff">greet</span> () {
  <span style="text-decoration:underline">console</span><span style="color:#dad085">.log</span>(<span style="color:#65b042">'hello'</span>);
}
</pre>

    <p class="def">Bad</p>
    <pre style="background:#000;color:#f8f8f8"><span style="color:#99cf50">var</span> <span style="color:#89bdff">greet</span>=function () 
{
  <span style="text-decoration:underline">console</span><span style="color:#dad085">.log</span>(<span style="color:#65b042">'hello!'</span>)
}

<span style="color:#99cf50">function</span> <span style="color:#89bdff">greet</span>() 
{
  <span style="text-decoration:underline">console</span><span style="color:#dad085">.log</span>(<span style="color:#65b042">'hello'</span>);
}
</pre>
    
  </div>


</div>
