<ul>
  <li class="beer">Tuborg</li>
  <li class="liquor">Stag</li>
  <li class="beer">512</li>
  <li class="wine">Galilee</li>
  <li class="wine">Alamos</li>
  <li class="liquor">Highland Park</li>
  <li class="beer">Austin Beerworks</li>
  <li class="liquor">Bulleit</li>
</ul>


<p data-sauce="ketchup">French Fries</p>
<p data-sauce="barbecue">Brisket</p>
<p data-sauce="tomatoe">Spaghetti</p>
<p data-sauce="alfredo">Fettucini</p>