<div class="page-header">
  <h1>Lesson title!</h1>
</div>

<div class="topic">
  <h3>Topic 1!</h3>
</div>

<div class="exercise">
  <% var num= '1-1'; %>
  <div class="answer" ng-class="{'show': questions[<%= num %>]}">
    This is the answer!
  </div>

  <% include ../partials/answer-button %>
</div>

<div class="exercise">
  <% var num= '1-2'; %>
  <div class="answer" ng-class="{'show': questions[<%= num %>]}">
    This is the answer!
  </div>

  <% include ../partials/answer-button %>
</div>

