<div class="col-sm-8 col-sm-offset-2 lesson">
  <div class="page-header">
    <h2>Vocabulary</h2>
    <a href="/#/">Back Home</a>
  </div>

  <div class="topic">
    <h4>Week 10</h4>

    <p class="def"><strong>Version Control</strong></p>
    <p>A system that records changes to a file or set of files over time so that you can recall specific versions later.</p>

    <p class="def"><strong>Boilerplate</strong></p>
    <p>Any text that is or can be reused in new contexts or applications without being greatly changed from the original.</p>

    <p class="def"><strong>Type</strong></p>
    <p>In computer science and computer programming, a data type or simply type is a classification identifying one of various types of data, such as string, integer or boolean, that determines the possible values for that type.</p>

    <p class="def"><strong>String Concatenation</strong></p>
    <p>In many programming languages, string concatenation is a binary infix operator. The + (plus) operator is often overloaded to denote concatenation for string arguments: "Hello, " + "World" has the value "Hello, World".</p>

    <p class="def"><strong>Conditional Statment</strong></p>
    <p>An "if/else" statement that determines evaluates code based on a comparative operator.</p> 

    <p class="def"><strong>Comparative Operator</strong></p>
    <p>An operator that compares two operands based on a condition.</p>   

    <p class="def"><strong>Logical Operator</strong></p>
    <p>Logical operators check the "truthiness" or "falsiness" of two values.</p>

    <p class="def"><strong>Block-Level HTML Elements</strong></p>
    <p>Block level elements take up the entire width of their parent elements and begin on a new line.</p>

    <p class="def"><strong>Inline HTML Elements</strong></p>
    <p>Inline elements sit within a block level element and do not start on a new line.</p> 

    <p class="def"><strong>HTML Attributes</strong></p>
    <p>Attributes are additional values that configure the elements or adjust their behavior in various ways to meet the criteria the users want.</p>
  </div>
</div>
