<div class="col-sm-10 col-sm-offset-1">
  <div class="page-header">
    <h2>Web Page Basics</h2>
  </div>
</div>

<!-- Lesson Template:
1. Guided Partner Work
2. Partner Challenge/Exercise
3. Individual Challenge/Exercise -->

<!-- Guided Individual Work:
1. Individually build files using the command line (file structure)
2. Open them up with subl command
3. Boilerplate code/opening page in the browser

Individual Exercise:
- Start on portfolio website, create an HTML and CSS file -->
