<html>
<head>
  <title>Mean Start</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body ng-app="meanStart">
  <h1>Welcome to MEAN Start</h1>

  <script src="node_modules/angular/angular.js"></script>
  <script src="node_modules/angular-route/angular-route.js"></script>
  <script src="node_modules/angular-resource/angular-resource.js"></script>
  <script src="js/app.js"></script>
  <!-- controllers and servics go here -->
</body>
</html>