.answer {
  display: none;
}

.show {
  display: block;
}

img {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
  margin: 15px auto 15px auto;
}

.lesson {
  margin-bottom: 200px;
}